body {
    font-family: 'Open Sans', sans-serif;
}



.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.top-text {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.top-text--light {
    color: rgba(157, 164, 189, 0.6);
}

.top-text--dark {
    color: #303030;
}

.top-text::before {
    content: "";
    width: 70px;
    height: 1px;
    background-color: currentColor;
    margin-right: 21px;
}

.title {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: calc(49 /42);
    letter-spacing: 0.05em;
}

.title--light {
    color: var(--main-title-color);
}

.title--dark {
    color: var(--second-title-color);
}

.btn {
    font-family: inherit;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    background-color: transparent;
    min-width: 160px;
    height: 40px;
    border: 1px solid var(--accent-color);
    border-radius: 25px;
    cursor: pointer;
}

.bottom-text {
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
}


/* ----------------------HEADER---------------------  */



/* ----------------------HERO---------------------  */




/* ----------------------ABOUT---------------------  */


/* ----------------------PRICES---------------------  */


/* ----------------------BENEFITS---------------------  */

/* ----------------------MASTERS---------------------  */


/* ----------------------GALLERY---------------------  */


/* ----------------------ONLINE---------------------  */


/* ----------------------CONTACTS---------------------  */


/* ----------------------FOOTER---------------------  */


/* ----------------------BACKDROP---------------------  */