.about {
  padding-top: 84px;
  padding-bottom: 84px;
  @include tablet {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  @include desktop {
    padding-top: 169px;
    padding-bottom: 121px;
  }

  &-container {
    display: flex;
  }

  &-content__top-text {
    color: #303030;
    margin-bottom: $typical-margin;
  }

  &-content__title {
    font-size: 28px;
    line-height: calc(33 / 28);
    letter-spacing: 0.02em;

    color: #303030;
    margin-bottom: $typical-margin;
  }
  &-content__bottom-text {
    color: #555555;
    margin-bottom: $typical-margin;
  }

  &-content__text {
    font-size: 14px;
    line-height: 1.86;
    letter-spacing: 0.02em;
    color: #555555;
    margin-bottom: 40px;
  }

  &-content__btn {
    color: $second-btn-color;
  }
}

.pic-list {
  display: none;
  @include tablet {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
  }
  @include desktop {
    flex-direction: row;
    margin-right: 64px;
  }
}
.pic-list__item {
  @include tablet {
    width: 330px;
    height: 235px;
  }
}
.pic-list__item + .pic-list__item {
  margin-top: 30px;
  @include desktop {
    margin-top: 0;
    margin-left: 30px;
  }
}
