.about {
  padding-top: 169px;
  padding-bottom: 121px;
  &-container {
    display: flex;
  }

  &-content__top-text {
    color: #303030;
    margin-bottom: $typical-margin;
  }

  &-content__title {
    margin-bottom: $typical-margin;
  }
  &-content__bottom-text {
    color: #555555;
    margin-bottom: $typical-margin;
  }

  &-content__text {
    font-size: 14px;
    line-height: 1.86;
    letter-spacing: 0.02em;
    color: #555555;
    margin-bottom: 40px;
  }

  &-content__btn {
    color: $second-btn-color;
  }
}

.pic-list {
  display: flex;
  margin-right: 64px;
}

.pic-list__item + .pic-list__item {
  margin-left: 30px;
}
