.benefits {
  padding-top: 85px;
  padding-bottom: 85px;
  @include desktop {
    padding-top: 143px;
    padding-bottom: 0px;
  }
}

.benefits-container {
  display: flex;
  flex-direction: column-reverse;
  @include desktop {
    flex-direction: row;
  }
}

.benefits-item {
  width: 150px;
  height: 133px;
  background-color: #f7f7f7;
  padding: 15px 20px;
  &:nth-child(odd) {
    margin-right: 10px;
  }

  &:nth-child(even) {
    margin-top: 10px;
  }
}
@include desktop {
  .benefits-item {
    width: 170px;
    height: 133px;
    background-color: #f7f7f7;
    padding: 20px 24px;
    &:nth-child(odd) {
      margin-right: 30px;
    }

    &:nth-child(even) {
      margin-top: 30px;
    }
  }
}
.benefits-list {
  width: 320px;
  display: flex;
  flex-wrap: wrap;
  @include tablet {
    width: 370px;
    display: flex;
    flex-wrap: wrap;
  }
}

.benefits-item-count {
  display: block;
  font-weight: 700;
  font-size: 42px;
  line-height: calc(57 / 42);
  text-align: center;
  letter-spacing: 0.05em;
  color: #303030;
  &::after {
    content: "+";
    font-weight: 600;
    font-size: 16px;
    line-height: 1.38;
    text-align: center;
    color: $accent-color;
    vertical-align: top;
  }
}

.benefits-item-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: #303030;
}

.benefits-top-text {
  color: #303030;
  margin-bottom: $typical-margin;
}

.benefits-title {
  color: var(--second-title-color);
  margin-bottom: $typical-margin;
}

.benefits-bottom-text {
  color: #555555;
}

.benefits-text {
  width: 100%;
  margin-left: auto;
  margin-bottom: 45px;
  @include desktop {
    width: 50%;
  }
}
