.contacts {
  padding-top: 48px;
  padding-bottom: 48px;
  @include desktop {
    padding-top: 130px;
    padding-bottom: 130px;
    width: calc(50% - 15px);
    padding-left: 100px;
  }
}

.contacts-title {
  color: $main-title-color;
  margin-bottom: 40px;
  text-align: center;
  @include tablet {
    text-align: left;
  }
}

.contacts-address {
  font-style: normal;
  margin-bottom: 70px;
}
.address-wrap {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.contacts-item + .contacts-item {
  margin-top: $typical-margin;
}

.contacts-item-link {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.contacts-subtitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: $typical-margin;
  &::before {
    content: "";
    width: 60px;
    height: 1px;
    background-color: rgba(157, 164, 189, 0.4);
    margin-right: 20px;
  }
}

.contacts-time {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
