.contacts-wrap {
  display: flex;
  background-color: #191c26;
  background-image: url(../image/Bgfooter.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: calc(100% - 15px);
  @include tablet {
    background-size: calc(100% - 30px);
  }
  @include desktop {
    background-size: calc(50% - 15px);
    background-position: right;
  }
  .container {
    display: flex;
    flex-direction: column;
  }
}
